.title-slide {
  background-image: url("img/logo.png");
  background-position: 9% 15%;
  background-size: 255px;
  background-color: #fff;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}



.center2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.small {
  font-size: 10px;
}